/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables de color */
:root {
  --color-azul: #1a3b5d;
  --color-verde: #3aa89b;
  --color-gris: #e0e7ec;
  --color-blanco: #ffffff;
  --color-negro: #1c1c1c;
}

/* Estilos generales */
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(2, 0, 36);
  color: var(--color-negro);
  line-height: 1.6;
}

/* Contenedor principal */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  height: 100vh;
  align-content: center;
}

/* Encabezado */

#main-header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 85, 96, 1) 77%,
    rgba(0, 212, 255, 1) 100%
  );
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: overlay, normal, hard-light, normal, normal, normal;
  color: var(--color-blanco);
  padding: 20px 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.header-info h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: -10px;
}

.header-info h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

.photo img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  object-fit: cover;
}

/*boton cv*/
.botonContacto {
  text-decoration: none;
  color: #ffffff;
}
.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #0803129a;
  --color: #afffff;
  margin-top: 7px;
  width: 70px;
  height: 22px;
  color: var(--color);
  cursor: pointer;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 13px;
  border: 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    0% var(--curve-size),
    var(--curve-size) 0,
    100% 0,
    100% calc(100% - var(--curve-size)),
    calc(100% - var(--curve-size)) 100%,
    0 100%
  );
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}

/* Navegación */
#main-nav {
  padding: 10px 0;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

#main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

#main-nav ul li {
  margin: 0 15px;
}

#main-nav ul li a {
  text-decoration: none;
  color: var(--color-negro);
  font-weight: 700;
  transition: color 0.3s;
}

#main-nav ul li a:hover {
  color: var(--color-verde);
}

/* Secciones */

.card {
  backdrop-filter: blur(3px) saturate(196%);
  -webkit-backdrop-filter: blur(3px) saturate(196%);
  background-color: rgba(255, 255, 255, 0.41);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.section h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.2em;
  margin-bottom: 20px;
  text-align: center;
}

.section1 {
  background-image: url(./assets/Ilustraciones/Wireframe@2x.png);
  background-position: center;
  border-radius: 40%;
}
.section1 h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.2em;
  margin-bottom: 20px;
  text-align: center;
}

/* Sobre Mí */
#about p,
blockquote {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

#about blockquote {
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin-top: 20px;
}

/* Competencias */

.container2 {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  height: 100vh;
  align-content: center;
}

.container2 h2 {
  padding-top: 20px;
  margin-bottom: 0;
}

.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 10px;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 85, 96, 1) 75%,
    rgba(0, 212, 255, 1) 100%
  );
}

.marquee:hover ul {
  animation-play-state: paused;
}

.marquee-content {
  display: flex;
  gap: 20px;
  animation: scroll 20s linear infinite;
  will-change: transform;
  list-style: none;
  padding: 0;
  margin-left: 20px;
}

.minis {
  position: relative;
  height: 200px;
  width: 200px;
  backdrop-filter: blur(3px) saturate(196%);
  -webkit-backdrop-filter: blur(3px) saturate(196%);
  background-color: rgba(255, 255, 255, 0.212);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  perspective: 1000px;
  margin: 10px;
  gap: 10px;
  text-align: center;
}

.minis img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.minis:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: #f2f2f241;
  justify-items: center;
  text-align: center;
  align-content: center;
}

.minis:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.minis:hover svg {
  scale: 0;
}

/* Experiencia Profesional */

#exp h2 {
  margin-top: 30px;
  padding-top: 30px;
}

.experiencia {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 85, 96, 1) 75%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experiencia h2 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.experience {
  height: 80vh;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.experience::-webkit-scrollbar {
  width: 8px;
}

.experience::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.experience::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.job {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  color: #fff;
  font-family: "Arial", sans-serif;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-in-out;
  width: 90%;
  max-width: 700px;
  box-sizing: border-box;
  text-align: center;
}

.job.visible {
  opacity: 1;
  transform: translateY(0);
}

.job.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.job h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.job p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 10px 0;
  color: #e0e0e0;
}

.job:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

/* Educación */
.education .degree,
.education .course {
  margin-bottom: 20px;
}

.education h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
}

/* Contacto */
form {
  max-width: 500px;
  margin: 0 auto 20px;
}

form label {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--color-gris);
}
form button {
  background-color: var(--color-verde);
  color: var(--color-blanco);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
form button:hover {
  background-color: var(--color-azul);
}
.contact-info p {
  text-align: center;
  margin-top: 10px;
}
.contact-info a {
  color: var(--color-azul);
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}
.contact-info a:hover {
  color: var(--color-verde);
}
#main-footer {
  background-color: var(--color-azul);
  color: var(--color-blanco);
  padding: 10px 0;
  text-align: center;
}
